<h1>Listing deals</h1>

<table>
  <thead>
    <tr>
      <th>Img</th>
      <th>Url</th>
      <th>Title</th>
      <th>Description</th>
      <th>Deal price</th>
      <th>Retail price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.img %></td>
        <td><%= deal.url %></td>
        <td><%= deal.title %></td>
        <td><%= deal.description %></td>
        <td><%= deal.deal_price %></td>
        <td><%= deal.retail_price %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
