<div class="allCenter">
  <h2 id="tbTitle" >All Deals</h2>
  <p class="new-deal"><%= link_to 'Add a deal', new_deal_path %></p>
  <table class="responsive" data-compression="5" data-min="10" data-max="25" data-width="100%" data-height="100%" data-adjust-parents="true" data-styled="true" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Img</th>
      <th>Url</th>
      <th>Title</th>
      <th>Description</th>
      <th>Deal Price</th>
      <th>Retail price</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td>
          <img class="dealImg" src="<%= deal.img %>">
        </td>
        <td id="tbtxtwrap"><%=link_to deal.url, "http://#{deal.url}"%></td>
        <td><%= deal.title %></td>
        <td id="tbtxtwrap"><%= deal.description %></td>
        <td><%= "$"+ "#{deal.deal_price}" %></td>
        <td><%= "$"+ "#{deal.retail_price}" %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>

<!-- <span data-tooltip aria-haspopup="true" id="tip" class="has-tip" title=""></span>
 -->
