<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @deal.img %>
</p>

<p>
  <strong>Url:</strong>
  <%= @deal.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<p>
  <strong>Deal price:</strong>
  <%= @deal.deal_price %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @deal.retail_price %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
